<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main">
    <div class="container">
      <form action="/identify" method="post">
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email">
        <label for="phone"> phoneNumber</label>
        <input type="text" name="phoneNumber" placeholder="Enter phoneNumber">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>